<div class="container">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Example headline.</h1>
                  <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Another example headline.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>One more for good measure.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- /.carousel -->
      <div class="marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="<%=asset_path "index/fuelling-car.jpg"%>" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Abastecimentos</h2>
            <p>Controle os abastecimentos de seu veículo e com isso fique a par do consumo médio e desempenho dele.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="<%=asset_path "index/oil_change.jpg"%>" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Lembretes</h2>
            <p>O Possante vai te ajudar a lembrar da próxima troca de óleo, rodízio de pneus, manutenções preventivas e muito mais.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="<%=asset_path "index/car-maintenance.jpg"%>" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Manutenções</h2>
            <p>No Possante você cadastra todas as manutenções feitas no veículo, assim mantendo cópia de documentos, controle de garantia e arquivamento para revisão.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">O amor pelo seu veículo. <span class="text-muted">Cuide bem.</span></h2>
            <p class="lead">O Possante vai te ajudar a cuidar do seu veículo com todo o amor e carinho que ele merece.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="<%=asset_path "index/car-love2.jpg"%>">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="<%=asset_path "index/car-repair.jpg"%>">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Manutenções preventivas. <span class="text-muted">Mantendo tudo em dia.</span></h2>
            <p class="lead">O Possante vai te ajudar a lembrar das manutenções preventivas básicas. Assim, seu carro estará sempre em dia com a mecânica e não vai te deixar empenhado.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Todos os tipos de veículos. <span class="text-muted">Controle sua frota.</span></h2>
            <p class="lead">O Possante foi feito para abranger todos os tipos de veículos, carros, motos, caminhões. Praticamente qualquer tipo de veículo que fizer parte da sua frota.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="<%=asset_path "index/frota.jpg"%>">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>

      </div><!-- /.container -->
    </div>