<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="http://imganuncios.mitula.net/honda_civic_1_8_2007_98494204700418123.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
      <%= @vehicle.vehicle_brand %> - <%= @vehicle.vehicle_model %> - Placa: <%= @vehicle.numberplate %>
      <a href="<%= edit_vehicle_path(@vehicle)%>" class="btn btn-success pull-right spaced">
        <i class="fa fa-plus"></i> Editar veiculo</a>
    </div>

    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">Abastecimentos recentes 
          <a href="<%= edit_vehicle_path(@vehicle)%>" class="btn btn-default pull-right">
          <i class="fa fa-tint"></i> Ir para abastecimentos</a>
        </div>
        <div class="panel-body">
          <%= content_tag :div, "", id: "refuellings_chart", style: "height: 200px;", data: {refuellings: @refuellings} %>
        </div>
      </div>
      <h2 class="title-divider"> </h2>
      
    </div>
  </div>
</div>